body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #ffffff;
}

h1 {
    color: #b3243a;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #444;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #0f3460;
}

tbody tr:nth-child(even) {
    background-color: #16213e;
}

td img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

td.player-cell {
    position: relative;
    z-index:0;
}

td.player-cell::before {
    content:"";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: var(--bg-image);
    background-size: 48px 51px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.75;
    z-index: -1;
    image-rendering: pixelated;
}

td.team-cell {
    position: relative;
    z-index:0;
}

td.team-cell::before {
    content:"";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: var(--bg-image);
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.75;
    z-index: -1;
    image-rendering: pixelated;
}